@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* STYLES for body */
* {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

/* STYLES for main container */
#container {
  width: 500px;
  margin: 0 auto;
  position: relative;
}

/* STYLES for list */
ul {
  list-style-type: none;
  margin: 2rem 0;
  padding: 0;
  /* border: 1px solid #e5e5e5; */
}

ul li {
  padding: 10px;
  /* padding-left: 0; */
  display: flex;
  justify-content: space-between;
  align-items: inherit;
  align-items: center;
  position: relative;
}

ul li:hover {
  background: #f3f3f3;
}

#list input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

#list label {
  position: relative;
  cursor: pointer;
}

#list label:before {
  content: '';
  /* -webkit-appearance: none; */
  background-color: transparent;
  border: 2px solid #0079bf;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 10px;
}

#list input:checked+label:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

#list input:checked+label:before {
  background: #0079bf;
}

#list input:checked+label {
  text-decoration: line-through;
}

/* STYLES for delete icon */
.delete {
  height: 28px;
  padding: 5px 0px;
  border-radius: 3px;
  color: black;
  position: absolute;
  right: 1rem;
}

.delete:hover {
  background: #f2f2f2;
  cursor: pointer;
}

/* STYLES for header */
h1 {
  text-align: center;
}

/* STYLES to add task form */
.add-task {
  width: 100%;
  outline: none;
  font-size: 15px;
  padding: 11px;
  padding-top: 1.8rem;
  border: 1px solid #f3f3f3;
  margin-bottom: 3px;
}

.smalladd {
  color: grey;
  width: 49%;
}

.label {
  position: relative;
  top: 1.5rem;
  left: 12px;
  color: rgb(57, 57, 57);
}

.pos-category {
  left: 11.7rem;
}

#total-tasks {

  margin-bottom: 20px;
  font-size: 13px;
  margin-left: 2px;
  color: gray;
}

.button {
  height: 3rem;
  width: 30%;
  border: none;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 1.2rem;
  margin: 5px 0;
}

/* STYLES FOR LIST  */
.category-box {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 3px 5px;
  position: absolute;
  right: 3rem;
}

.date-box {
  color: rgb(93, 93, 93);
  margin-left: 2.3rem;
}